<div class="row">
    <div class="col-sm-6">
        <h1><%= @place[:name] %></h1>
        <h2><%= @place[:street] %></h2> 
        <h2><%= @place[:neighborhood] %>, <%= @place[:city] %></h2>   
        <p><%= @place[:phone] %></p> 
        <a href="http://www.<%= @place[:webURL] %>" class="btn btn-primary">Visit Website</a>
        <a href="<%= @place[:resURL] %>" class="btn btn-primary">Make a Reservation</a>
    </div>

    <div class="col-sm-6">
        <iframe
           width="500"
           height="300"
           frameborder="0" style="border:0"
           src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
           &q=<%= @place[:latitude] %>,<%= @place[:longitude] %>&zoom=6" allowfullscreen>
      </iframe>
      <p></p>
        <p> Have you visited <%= @place[:name]%>?</p>
        <p><a href="/review/<%= @place[:name] %>" class="btn btn-primary">Write a Review</a></p>
    </div>
</div>