<div class="row">
    <div class="col-sm-9">
        <h1><%= @place[:name] %></h1>
        <h2><%= @place[:street] %></h2> 
        <h2><%= @place[:neighborhood] %>, <%= @place[:city] %></h2>   
        <p><%= @place[:phone] %></p> 
        <a href="http://www.<%= @place[:webURL] %>" class="btn btn-primary">Visit Website</a>
        <a href="<%= @place[:resURL] %>" class="btn btn-primary">Make a Reservation</a>

    #<iframe
    #   width="600"
    #  height="450"
    #    frameborder="0" style="border:0"
    #    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
    #     &q=EMBED_RUBY&zoom=6" allowfullscreen>
    #  </iframe>
    #</div>

    <div class="col-sm-3">
        <p> Have you visited this place? </p>
        <a href="/review/<%= @place[:name] %>/new" class="btn btn-primary">Write a Review</a></p>
    </div>
</div>