
<div class="container">
<div class="row">
    <div class="col-sm-6">
        <h1><%= @place[:name] %></h1>
        <h2><%= @place[:street] %></h2> 
        <h2><%= @place[:city] %>, <%= @place[:state] %> <%= @place[:zip] %></h2>   
        <p><%= @place[:phone] %></p> 
        <a href="http://www.<%= @place[:webURL] %>" class="btn btn-primary">Visit Website</a>
        <% if @place[:reservation] %>
            <a href="<%= @place[:resURL] %>" class="btn btn-primary">Make a Reservation</a>
        <% else %>
            <i class="fas fa-times"></i>
            Doesn't take reservations
        <% end %>
        <p></p>
        <h3> <i class="fas fa-star"> </i> : <%= @fav_count %> </h3>
    </div>

    <div class="col-sm-6">
        <iframe
           width="500"
           height="300"
           frameborder="0" style="border:0"
           src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
           &q=<%= @lat_long %>&zoom=15" allowfullscreen>
        </iframe>
      <p></p>
        <p> Have you visited <%= @place[:name]%>?</p>
            <% if @current_user %>
                <a href="/review/<%= @place[:name] %>" class="btn btn-primary">Write a review</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to review</a>
            <% end %>
    </div>
</div>
<div class="row">
    <% for review in @reviews %>
            <div class="media">
                <% if review[:favorite] %>
                    <i class="fas fa-star"> </i>
                <% else %>
                    <i class="nil"> </i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0"><%= @users_table.where(id: review[:user_id]).to_a[0][:name] %></h5>
                    <p><%= review[:reviews] %></p>
                </div>
            </div>
        <% end %>
</div>
</div>